<div class="row profile">
  <div class="col-md-4 d-flex justify-content-center">
    <% if @user.image_data? %>
      <div scope="rower"> <%= image_tag @user.image_url, height: '100px'  %></div>
    <% else %>
      <th scope="row"><%= image_tag "ava_default.png", height: '100' %></th>
    <% end %>
  </div>

  <div class="info col-md-8">
    <div class="user-info-box">
      <h2 class="username"><%= @user.username %></h2>
      <% if current_user == @user %>
      <a class="btn btn-primary" <%= link_to 'Edit Profile', edit_user_path(@user)  %>
      <% end %>
      <% if current_user.present? && current_user != @user %>
        <% link_to("Follow", follows_path(following_id: @user_id), method: :post) %>
        <% end %>
    </div>
    <div class="posts-block d-flex">
      <ul>
        <li><%= @posts.count %> posts</li>
        <%# if @followers.count? %>
<!--        <li><%#= @followers.count %> followers</li>-->
          <%# end %>
<!--        <li><%#= @following.count %> following</li>-->
      </ul>
    </div>

    <div class="full-name-block d-flex">
      <h2 class="name"><%= @user.name %></h2>
      <%= @user.website %>
    </div>
  </div>
</div>
<div>
  <div class="user-blocks">

    <a class="table active" <%= link_to user_post_path(@user), "Posts" %> >
      POSTS
    </a>
    <a class="table" href="#">
      IGTV
    </a>
    <a class="table" href="#">
      SAVED
    </a>
    <a class="table" href="#">
      TAGGED
    </a>
  </div>
  <div class="container">
    <div class="row">
      <div class="row show-posts">
        <% @posts.each do |post|%>
          <div class="col-4">
            <% if post.image_data? %>
            <%=link_to (image_tag post.image_url(:small)), user_post_path(@user,post) %>
            <% end %>
            <%= post.content %><br/>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>